{% extends 'layouts.html' %}
{% block title %}


  This is Home page

{% endblock %}




{% block content %}
{% include 'slider.html' with sliderdata=slider %}
{% load static %}


<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-right">
        <h2> {{ about.title }} </h2>
      <img src="{{ about.image.url }}" style="height:200px; width:400;">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
        <p>
          {{ about.description }}
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->



{% endblock %}
